---
k8sWatcher:
  resources:
    requests:
      cpu: 50m
      memory: 300Mi
    limits:
      cpu: 500m
      memory: 1024Mi

portal:
  resources:
    requests:
      cpu: 50m
      memory: 100Mi
    limits:
      cpu: 100m
      memory: 256Mi

clickhouse:
  resources:
    requests:
      cpu: 600m
      memory: 4096Mi
    limits:
      memory: 6000Mi

opentelemetry-collector:
  replicaCount: 2
  resources:
    requests:
      cpu: 500m
      memory: 1024Mi
    limits:
      cpu: 1200m
      memory: 2048Mi

victoria-metrics-agent:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 600m
      memory: 512Mi

metrics-ingester:
  resources:
    limits:
      cpu: 750m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi

custom-metrics:
  extraArgs:
    remoteWrite.maxHourlySeries: "1000000"
    remoteWrite.maxDailySeries: "10000000"
  resources:
    requests:
      cpu: 500m
      memory: 512Mi
    limits:
      cpu: 1000m
      memory: 1Gi

victoria-metrics-single:
  server:
    resources:
      requests:
        cpu: 1000m
        memory: 5000Mi
      limits:
        cpu: 1000m
        memory: 5000Mi

backend:
  postgresql:
    primary:
      # based on https://github.com/bitnami/charts/blob/main/bitnami/common/templates/_resources.tpl#L15 - "large"
      resources:
        requests:
          cpu: 1
          memory: 2048Mi
          ephemeral-storage: 50Mi
        limits:
          cpu: 1.5
          memory: 3072Mi
          ephemeral-storage: 1024Mi