---
k8sWatcher:
  resources:
    requests:
      cpu: 50m
      memory: 300Mi
    limits:
      cpu: 100m
      memory: 500Mi

portal:
  resources:
    requests:
      cpu: 50m
      memory: 100Mi
    limits:
      cpu: 100m
      memory: 256Mi

loki:
  config:
    limits_config:
      ingestion_rate_mb: 16
      ingestion_burst_size_mb: 32
      per_stream_rate_limit: 8MB # Default was 3MB
      per_stream_rate_limit_burst: 24MB # Default was 15MB
  resources:
    requests:
      cpu: 250m
      memory: 750Mi
    limits:
      cpu: 1000m
      memory: 5000Mi

timescaledb-single:
  resources:
    requests:
      cpu: 1000m
      memory: 2500Mi
    limits:
      cpu: 1000m
      memory: 2500Mi

victoria-metrics-agent:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 600m
      memory: 512Mi

victoria-metrics-single:
  server:
    resources:
      requests:
        cpu: 1000m
        memory: 5000Mi
      limits:
        cpu: 1000m
        memory: 5000Mi

shepherd:
  resources:
    requests:
      cpu: 300m
      memory: 1Gi
    limits:
      cpu: 1500m
      memory: 2Gi
