---
k8sWatcher:
  resources:
    requests:
      cpu: 50m
      memory: 300Mi
    limits:
      cpu: 500m
      memory: 1024Mi

portal:
  resources:
    requests:
      cpu: 50m
      memory: 100Mi
    limits:
      memory: 256Mi

clickhouse:
  resources:
    requests:
      cpu: 2
      memory: 6Gi
    limits:
      memory: 8Gi

opentelemetry-collector:
  replicaCount: 2
  resources:
    requests:
      cpu: 500m
      memory: 1024Mi
    limits:
      memory: 2048Mi

victoria-metrics-agent:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      memory: 512Mi

metrics-ingester:
  resources:
    limits:
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi

custom-metrics:
  extraArgs:
    remoteWrite.maxHourlySeries: "1000000"
    remoteWrite.maxDailySeries: "10000000"
  resources:
    requests:
      cpu: 500m
      memory: 512Mi
    limits:
      memory: 1Gi

victoria-metrics-single:
  server:
    resources:
      requests:
        cpu: 1
        memory: 4Gi
      limits:
        memory: 6Gi

monitors-manager:
  resources:
    requests:
      cpu: 40m
      memory: 160Mi   
    limits:
      memory: 512Mi


backend:
  postgresql:
    primary:
      resources:
        requests:
          cpu: 20m
          memory: 80Mi
        limits:
          memory: 256Mi
