---
k8sWatcher:
  resources:
    requests:
      cpu: 50m
      memory: 300Mi
    limits:
      cpu: 100m
      memory: 500Mi

portal:
  resources:
    requests:
      cpu: 50m
      memory: 100Mi
    limits:
      cpu: 100m
      memory: 256Mi

clickhouse:
  resources:
    requests:
      cpu: 600m
      memory: 4096Mi
    limits:
      memory: 6000Mi

opentelemetry-collector:
  replicaCount: 2

timescaledb-single:
  resources:
    requests:
      cpu: 1000m
      memory: 2500Mi
    limits:
      cpu: 1000m
      memory: 2500Mi

victoria-metrics-agent:
  extraArgs:
    remoteWrite.maxHourlySeries: "1000000"
    remoteWrite.maxDailySeries: "10000000"
  resources:
    requests:
      cpu: 300m
      memory: 512Mi
    limits:
      cpu: 750m
      memory: 1Gi

victoria-metrics-single:
  server:
    resources:
      requests:
        cpu: 1000m
        memory: 5000Mi
      limits:
        cpu: 1000m
        memory: 5000Mi

shepherd:
  resources:
    requests:
      cpu: 300m
      memory: 1Gi
    limits:
      cpu: 1500m
      memory: 2Gi
