---
k8sWatcher:
  resources:
    requests:
      cpu: 10m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 1024Mi

portal:
  resources:
    requests:
      cpu: 5m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi

clickhouse:
  resources:
    requests:
      cpu: 20m
      memory: 2Gi
    limits:
      memory: 4Gi

opentelemetry-collector:
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 2048Mi

victoria-metrics-agent:
  resources:
    requests:
      cpu: 16m
      memory: 32Mi
    limits:
      cpu: 100m
      memory: 256Mi

metrics-ingester:
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 250m
      memory: 512Mi

custom-metrics:
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 250m
      memory: 256Mi

victoria-metrics-single:
  server:
    resources:
      requests:
        cpu: 20m
        memory: 2Gi
      limits:
        cpu: 100m
        memory: 2Gi

monitors-manager:
  resources:
    requests:
      cpu: 5m
      memory: 110Mi 
    limits:
      cpu: 50m
      memory: 150Mi


backend:
  postgresql:
    primary:
      resources:
        requests:
          cpu: 5m
          memory: 40Mi
        limits:
          memory: 60Mi

