---
k8sWatcher:
  resources:
    requests:
      cpu: 10m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 1024Mi

portal:
  resources:
    requests:
      cpu: 5m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi

clickhouse:
  resources:
    requests:
      cpu: 20m
      memory: 128Mi
    limits:
      memory: 2048Mi

opentelemetry-collector:
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 2048Mi

victoria-metrics-agent:
  resources:
    requests:
      cpu: 16m
      memory: 32Mi
    limits:
      cpu: 100m
      memory: 256Mi

metrics-ingester:
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 250m
      memory: 512Mi

custom-metrics:
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 250m
      memory: 256Mi

victoria-metrics-single:
  server:
    resources:
      requests:
        cpu: 20m
        memory: 128Mi
      limits:
        cpu: 100m
        memory: 1024Mi

backend:
  postgresql:
    primary:
      # based on https://github.com/bitnami/charts/blob/main/bitnami/common/templates/_resources.tpl#L15 - "small"
      resources:
        requests:
          cpu: 500m
          memory: 512Mi
          ephemeral-storage: 50Mi
        limits:
          cpu: 750m
          memory: 768Mi
          ephemeral-storage: 1024Mi