---
k8sWatcher:
  resources:
    requests:
      cpu: 10m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 1024Mi

portal:
  resources:
    requests:
      cpu: 5m
      memory: 64Mi
    limits:
      memory: 128Mi

opentelemetry-collector:
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      memory: 2048Mi

victoria-metrics-agent:
  resources:
    requests:
      cpu: 16m
      memory: 32Mi
    limits:
      memory: 256Mi

metrics-ingester:
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      memory: 512Mi

custom-metrics:
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      memory: 256Mi

victoria-metrics-single:
  server:
    resources:
      requests:
        cpu: 20m
        memory: 128Mi
      limits:
        memory: 1024Mi

monitors-manager:
  resources:
    requests:
      cpu: 5m
      memory: 256Mi 
    limits:
      memory: 256Mi

backend:
  postgresql:
    primary:
      resources:
        requests:
          cpu: 5m
          memory: 256Mi
        limits:
          memory: 256Mi
  keep:
    backend:
      resources:
        requests:
          cpu: 100m
          memory: 128Mi

vector:
  replicas: 1
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      memory: 1024Mi
