---
k8sWatcher:
  resources:
    requests:
      cpu: 50m
      memory: 100Mi
    limits:
      cpu: 100m
      memory: 100Mi

portal:
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 64Mi

loki:
  resources:
    requests:
      cpu: 50m
      memory: 750Mi
    limits:
      cpu: 100m
      memory: 750Mi

grafana:
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 64Mi

timescaledb-single:
  resources:
    requests:
      cpu: 50m
      memory: 1024Mi
    limits:
      cpu: 300m
      memory: 1024Mi

victoria-metrics-single:
  server:
    resources:            
      requests:
        cpu: 50m
        memory: 1024Mi
      limits:
        cpu: 300m
        memory: 1024Mi

promscale:
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 300m
      memory: 128Mi

vmagent-backend:
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 100m
      memory: 128Mi
