---
k8sWatcher:
  resources:
    requests:
      cpu: 50m
      memory: 100Mi
    limits:
      cpu: 100m
      memory: 100Mi

portal:
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 64Mi

clickhouse:
  resources:
    requests:
      cpu: 150m
      memory: 1024Mi
    limits:
      memory: 2048Mi

opentelemetry-collector:
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 250m
      memory: 512Mi

timescaledb-single:
  resources:
    requests:
      cpu: 50m
      memory: 1024Mi
    limits:
      cpu: 300m
      memory: 1024Mi

victoria-metrics-agent:
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 100m
      memory: 256Mi

victoria-metrics-single:
  server:
    resources:
      requests:
        cpu: 50m
        memory: 1024Mi
      limits:
        cpu: 300m
        memory: 1024Mi

shepherd:
  resources:
    requests:
      cpu: 150m
      memory: 256Mi
    limits:
      cpu: 200m
      memory: 256Mi
